.layout-container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

@media screen and (min-width: var(--breakpoint-sm)) {
    .layout-container {
        max-width: 540px;
    }
}

@media screen and (min-width: var(--breakpoint-md)) {
    .layout-container {
        max-width: 722px;
    }
}

@media screen and (min-width: var(--breakpoint-lg)) {
    .layout-container {
        max-width: 900px;
    }
}

@media screen and (min-width: var(--breakpoint-xl)) {
    .layout-container {
        max-width: 1220px;
    }
}

@media screen and (min-width: var(--breakpoint-xxl)) {
    .layout-container {
        max-width: 1380px;
    }
}