/* Margin Utilities */
.u-m-0 {
    margin: 0;
}

.u-mt-0 {
    margin-top: 0;
}

.u-mr-0 {
    margin-right: 0;
}

.u-mb-0 {
    margin-bottom: 0;
}

.u-ml-0 {
    margin-left: 0;
}

.u-m-1 {
    margin: 1rem;
}

.u-mt-1 {
    margin-top: 1rem;
}

.u-mr-1 {
    margin-right: 1rem;
}

.u-mb-1 {
    margin-bottom: 1rem;
}

.u-ml-1 {
    margin-left: 1rem;
}

.u-m-2 {
    margin: 2rem;
}

.u-mt-2 {
    margin-top: 2rem;
}

.u-mr-2 {
    margin-right: 2rem;
}

.u-mb-2 {
    margin-bottom: 2rem;
}

.u-ml-2 {
    margin-left: 2rem;
}

.u-m-3 {
    margin: 3rem;
}

.u-mt-3 {
    margin-top: 3rem;
}

.u-mr-3 {
    margin-right: 3rem;
}

.u-mb-3 {
    margin-bottom: 3rem;
}

.u-ml-3 {
    margin-left: 3rem;
}

.u-m-4 {
    margin: 4rem;
}

.u-mt-4 {
    margin-top: 4rem;
}

.u-mr-4 {
    margin-right: 4rem;
}

.u-mb-4 {
    margin-bottom: 4rem;
}

.u-ml-4 {
    margin-left: 4rem;
}

.u-m-5 {
    margin: 5rem;
}

.u-mt-5 {
    margin-top: 5rem;
}

.u-mr-5 {
    margin-right: 5rem;
}

.u-mb-5 {
    margin-bottom: 5rem;
}

.u-ml-5 {
    margin-left: 5rem;
}

.u-m-6 {
    margin: 6rem;
}

.u-mt-6 {
    margin-top: 6rem;
}

.u-mr-6 {
    margin-right: 6rem;
}

.u-mb-6 {
    margin-bottom: 6rem;
}

.u-ml-6 {
    margin-left: 6rem;
}

.u-m-7 {
    margin: 7rem;
}

.u-mt-7 {
    margin-top: 7rem;
}

.u-mr-7 {
    margin-right: 7rem;
}

.u-mb-7 {
    margin-bottom: 7rem;
}

.u-ml-7 {
    margin-left: 7rem;
}

.u-m-8 {
    margin: 8rem;
}

.u-mt-8 {
    margin-top: 8rem;
}

.u-mr-8 {
    margin-right: 8rem;
}

.u-mb-8 {
    margin-bottom: 8rem;
}

.u-ml-8 {
    margin-left: 8rem;
}

.u-m-9 {
    margin: 9rem;
}

.u-mt-9 {
    margin-top: 9rem;
}

.u-mr-9 {
    margin-right: 9rem;
}

.u-mb-9 {
    margin-bottom: 9rem;
}

.u-ml-9 {
    margin-left: 9rem;
}

.u-m-10 {
    margin: 10rem;
}

.u-mt-10 {
    margin-top: 10rem;
}

.u-mr-10 {
    margin-right: 10rem;
}

.u-mb-10 {
    margin-bottom: 10rem;
}

.u-ml-10 {
    margin-left: 10rem;
}

/* Padding Utilities */
.u-p-0 {
    padding: 0;
}

.u-pt-0 {
    padding-top: 0;
}

.u-pr-0 {
    padding-right: 0;
}

.u-pb-0 {
    padding-bottom: 0;
}

.u-pl-0 {
    padding-left: 0;
}

.u-p-1 {
    padding: 1rem;
}

.u-pt-1 {
    padding-top: 1rem;
}

.u-pr-1 {
    padding-right: 1rem;
}

.u-pb-1 {
    padding-bottom: 1rem;
}

.u-pl-1 {
    padding-left: 1rem;
}

.u-p-2 {
    padding: 2rem;
}

.u-pt-2 {
    padding-top: 2rem;
}

.u-pr-2 {
    padding-right: 2rem;
}

.u-pb-2 {
    padding-bottom: 2rem;
}

.u-pl-2 {
    padding-left: 2rem;
}

.u-p-3 {
    padding: 3rem;
}

.u-pt-3 {
    padding-top: 3rem;
}

.u-pr-3 {
    padding-right: 3rem;
}

.u-pb-3 {
    padding-bottom: 3rem;
}

.u-pl-3 {
    padding-left: 3rem;
}

.u-p-4 {
    padding: 4rem;
}

.u-pt-4 {
    padding-top: 4rem;
}

.u-pr-4 {
    padding-right: 4rem;
}

.u-pb-4 {
    padding-bottom: 4rem;
}

.u-pl-4 {
    padding-left: 4rem;
}

.u-p-5 {
    padding: 5rem;
}

.u-pt-5 {
    padding-top: 5rem;
}

.u-pr-5 {
    padding-right: 5rem;
}

.u-pb-5 {
    padding-bottom: 5rem;
}

.u-pl-5 {
    padding-left: 5rem;
}

.u-p-6 {
    padding: 6rem;
}

.u-pt-6 {
    padding-top: 6rem;
}

.u-pr-6 {
    padding-right: 6rem;
}

.u-pb-6 {
    padding-bottom: 6rem;
}

.u-pl-6 {
    padding-left: 6rem;
}

.u-p-7 {
    padding: 7rem;
}

.u-pt-7 {
    padding-top: 7rem;
}

.u-pr-7 {
    padding-right: 7rem;
}

.u-pb-7 {
    padding-bottom: 7rem;
}

.u-pl-7 {
    padding-left: 7rem;
}

.u-p-8 {
    padding: 8rem;
}

.u-pt-8 {
    padding-top: 8rem;
}

.u-pr-8 {
    padding-right: 8rem;
}

.u-pb-8 {
    padding-bottom: 8rem;
}

.u-pl-8 {
    padding-left: 8rem;
}

.u-p-9 {
    padding: 9rem;
}

.u-pt-9 {
    padding-top: 9rem;
}

.u-pr-9 {
    padding-right: 9rem;
}

.u-pb-9 {
    padding-bottom: 9rem;
}

.u-pl-9 {
    padding-left: 9rem;
}

.u-p-10 {
    padding: 10rem;
}

.u-pt-10 {
    padding-top: 10rem;
}

.u-pr-10 {
    padding-right: 10rem;
}

.u-pb-10 {
    padding-bottom: 10rem;
}

.u-pl-10 {
    padding-left: 10rem;
}

/* Text Utilities */
.u-txt-left {
    text-align: left;
}

.u-txt-right {
    text-align: right;
}

.u-txt-center {
    text-align: center;
}

.u-txt-justify {
    text-align: justify;
}

.u-txt-bold {
    font-weight: bold;
}

.u-txt-normal {
    font-weight: normal;
}

.u-txt-italic {
    font-style: italic;
}

.u-txt-uppercase {
    text-transform: uppercase;
}

.u-txt-lowercase {
    text-transform: lowercase;
}

.u-txt-capitalize {
    text-transform: capitalize;
}

.u-txt-small {
    font-size: 0.75em;
}

.u-txt-medium {
    font-size: 1em;
}

.u-txt-large {
    font-size: 1.25em;
}

/* Display and Visibility Utilities */
.u-display-none {
    display: none;
}

.u-display-block {
    display: block;
}

.u-display-inline {
    display: inline;
}

.u-display-inline-block {
    display: inline-block;
}

.u-display-flex {
    display: flex;
}

.u-display-grid {
    display: grid;
}

.u-visible {
    visibility: visible;
}

.u-hidden {
    visibility: hidden;
}

/* Position Utilities */
.u-position-relative {
    position: relative;
}

.u-position-absolute {
    position: absolute;
}

.u-position-fixed {
    position: fixed;
}

.u-position-sticky {
    position: sticky;
}

/* Width and Height Utilities */

.u-width-auto {
    width: auto;
}

.u-width-100 {
    width: 100%;
}

.u-width-75 {
    width: 75%;
}

.u-width-50 {
    width: 50%;
}

.u-width-25 {
    width: 25%;
}

.u-height-auto {
    height: auto;
}

.u-height-100 {
    height: 100%;
}

.u-height-75 {
    height: 75%;
}

.u-height-50 {
    height: 50%;
}

.u-height-25 {
    height: 25%;
}

/* Border Radius Utilities */
.u-border-radius-small { 
    border-radius: var(--border-radius-small); 
}

.u-border-radius-medium { 
    border-radius: var(--border-radius-medium); 
}

.u-border-radius-large { 
    border-radius: var(--border-radius-large); 
}